<!doctype html>
<html>
<head>
    <title>Live Streaming ProjectOS</title>
</head>
<body>
<div class="container" align="center" >
            <style>
                    h1{ background-color:green;
                    }
            </style>
            
            
            <h1 class="mt-5" ><font color = Orange>Live Streaming</h1>
            <hr width ="100%"; size ="1" align="center" ;color ="Black">
            <P><center> Suranaree University of Technology, THAILAND</center></P>
            <hr width ="100%"; size ="1" align="center" ;color ="Black">
            <hr width ="100%"; size ="1" align="center" ;color ="Black">
            <img src="{{ url_for('video_feed') }}" width="50%">
            <hr width ="100%"; size ="1" align="center" ;color ="Black">
            <h4>Welcome to ProjectOS Streaming project </h4>
            <P style="text-indent: 2.5em;">The first this web is test web for project not real streaming page so that they can control the look and feel of their web pages by using Raspbian on Oracle</P>
            <P>&nbsp; I Wish all of you like this project :) </P>
            <P align='right'> Thanks you </P>
            <hr width ="100%"; size ="1" align="center" ;color ="Black">
        </div>
    </div>
</div>
</body>
</html>
